<div class="center hero-unit">
  <h1>Welcome to Notility</h1>

  <h2>
    Easy way to share your lecture notes
  </h2>



</div>

<div class="center">
  <%= image_tag("Notes.png", alt: "Notes")%>
</div>

<div class="center">
  <%= link_to "Show Courses", courses_path, class: "btn btn-large btn-primary" %>
</div>


<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>